body {
    margin: 60px auto;
    width: 70%;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.5em;
    font-family:'Helvetica','Arial','Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    text-align: center;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul{ 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul{
    list-style: none;
}
figure {
    display: inline-block;
    margin: 20px;
}
figure img {
    vertical-align: top;
}
figure figcaption {
    text-align: center;
    font-family: "Helvetica";
    font-size: 15px;
    padding: 3px;
}
.Thumbnail{
    background: #92CBDE;
    border: 1px solid #999;     
    padding: 5px;
}
