<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link rel="icon" href="brain.png">
    <title>Become Big Brain!</title>
  </head>
  <body>
    <ul>
      <li><a class="active" href="https://sashawald.github.io/study/">Home</a></li>
      <li><a href="#home">Science</a></li>
      <li><a href="#contact">Mathematics</a></li>
      <li><a href="https://sashawald.github.io/study/socialstudies.html">Social Studies</a></li>
      <li><a href="#about">Foreign Language</a></li>
      <li><a href="#about">Technology</a></li>
      <li><a href="#about">Art</a></li>
    </ul>
    <div class = "pagebody">
    
    </div>
    <div class = "footer">
      contact: awald10@stuy.edu // sashawald@gmail.com
    </div>
  </body>
</html>
